:root {
  --color-seashell-100: hsl(0, 0%, 98%);
  --color-seashell-200: hsl(0, 0%, 95%);
  --color-tan-100: hsl(21, 94%, 75%);
  --color-tan-200: hsl(22, 65%, 57%);
  --color-cod-gray-100: hsl(0, 0%, 6%);
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .type-h1 {
    @apply text-6xl font-bold uppercase;
  }

  .type-h2 {
    @apply text-5xl font-bold uppercase;
  }

  .type-h3 {
    @apply text-4xl font-bold uppercase;
  }

  .type-h4 {
    @apply text-3xl font-bold uppercase;
  }

  .type-h5 {
    @apply text-2xl font-bold uppercase;
  }

  .type-h6 {
    @apply text-lg font-bold uppercase text-black;
  }

  .type-overline {
    @apply text-sm font-normal uppercase tracking-[10px] text-tan-200;
  }

  .type-sub-title {
    @apply text-xs font-bold uppercase tracking-wider text-tan-200;
  }

  .but-100 {
    @apply w-40 h-12 text-xs font-bold uppercase tracking-tighter text-white bg-tan-200 hover:bg-tan-100;
  }

  .but-200 {
    @apply w-40 h-12 text-xs font-bold uppercase tracking-tighter text-black hover:text-white bg-white hover:bg-black border border-black;
  }
}
